.input-password {
  display: block;
  margin: 20px 0 0 10px;
}

.buttons-password {
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 10px 0 0 5px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #fff;
}
